* {
  margin: 0;
  padding: 0;


}

html {
  font-size: 95%;
}

#app {
  font-weight: 600;
  color: #646cff;
  font-size: 4rem;
  text-decoration: inherit;
  /* font-weight: 10; */
}

body {
  background-color: #efe6e6;
}

.Top-text {
  height: 3rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgb(20, 14, 14);
  color: rgb(243, 219, 219);
}

.text {
  margin-top: 1rem;
  color: rgb(163, 245, 33);
  font-size: 1.2rem;
  font-weight: 500;
}

.SignIn {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;

}

.SignIn a {
  margin: 0 2.3rem;
  font-size: 1.1rem;
}

.SignIn a:hover {
  color: rgb(197, 113, 17);
  font-size: 1.2001rem;
}

.cart-item {
  margin: 0rem .3rem;
  font-size: 2rem;
  color: rgb(1, 5, 21);

}

.cart {

  color: black;
  margin-top: 1.6rem;
  margin-left: 1.2rem;

  font-size: 2.5rem;
  height: 4rem;
  display: flex;
  flex-direction: row;
  /* padding:12rem; */
  border-radius: 1rem;
  list-style: none;
  text-decoration: none;
  /* border-color: rgb(216, 17, 17); */
  /* background-color: rgb(148, 164, 41); */
}

.container1 {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  /* justify-content: center; */
  /* justify-items: ; */
  margin: 0rem 2rem;
  /* position: fixed; */

}

/* vs code  */


.nav-head {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 3rem;
  background-color: rgba(209, 209, 178, 0.477);
}

ul li a {
  /* font-size: 1.1rem; */
  list-style: none;
  text-decoration: none;
  color: black;
  font-weight: 500;

  list-style: none;
  text-decoration: none;

}

ul {
  list-style: none;
  display: flex;
  justify-content: left;
  align-items: center;
  color: white;
  margin-top: .6rem;
}

ul li {
  margin: 1.2rem 1.4rem;
  color: #000;
}

ul li a:hover {
  list-style: none;
  text-decoration: none;
  color: rgb(177, 40, 40);
  font-weight: 500;
  list-style: none;
  text-decoration: none;
}

.second {}

/* section 2  hero section*/
.sec2 {
  height: 39rem;
  background-color: hwb(219 25% 10%);
  margin: auto 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
 

}

.sec-containt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin: auto 10rem; */
  /* width: 50%; */

}

.img {
  /* margin: auto auto; */
  display: flex;
  justify-self: center;

}

.img img{
  height: 20rem;
  margin-left: -16rem;
 
}

@media(max-width:900px) {
  .img {
    height: 10rem;
    margin-top: 3rem;
    margin-left: -1rem;
  }
  .img img{
    height: 13rem;
    margin-top: -1rem;
    margin-left: .01rem;
  }

  .sec2 {
    height: 39rem;
    background-color: hwb(219 25% 10%);
    margin: auto 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
 
  
  .img-sec3 img {
    /* height: 6rem; */
    width: 100%;
    margin-right: 3rem;
  }
  
 
  
}

.main {
  font-size: 3rem;
  font-family: "Segoe UI", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-weight: 100;

}

.upper {

  color: rgb(57, 22, 212);
  font-weight: 1000;

}

.lower {

  font-weight: 400;
  color: rgb(57, 22, 212);
  margin-left: 2rem;
}

.text2 {
  /* text-align: center; */
  font-weight: 300;
  font-size: 1.2rem;
  display: flex;
  justify-content: right;
  align-items: center;

}

.text2 p {
  margin-top: 1rem;
}

.btn {
  background-color: rgb(24, 24, 63);
  /* background-color: rgb(41, 41, 124); */
  width: 40%;
  height: 4rem;
  font-size: 1rem;
  color: #e1e1eb;
  text-align: center;
  display: grid;
  place-items: center;
}

.btn:hover {
  background-color: rgb(182, 182, 214);
  width: 40%;
  height: 4rem;
  font-size: 1.01rem;
  color: #0d0d11;
  text-align: center;
  cursor: pointer;
}



.sec3 {
  height: 30vh;
  /* background-color: hwb(219 25% 10%); */

  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.box_1 {
  /* border-right: 1rem solid black; */
  box-shadow: 0 .1rem .5rem black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  width: 19vw;
  height: 26vh;
  background-color: #fff;
}

.img-sec3 img {
  height: 6rem;
  /* width: 20%; */
  margin-right: 2.5rem;
}

.sec3-containt {
  display: flex;
  flex-direction: column;

  margin-left: 1rem;

}

.sec3-containt .mid-text {
  font-size: 1.2rem;
  font-weight: 500;

}

.sec3-containt .first-text {
  text-transform: uppercase;
  font-size: .9rem;


}

@media(max-width:750px) {
  .sec3 {
     margin-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 30rem;
  }
  .box_1 {
    box-shadow: 0 .1rem .5rem black;
    display: flex;
    flex-direction: row;
    margin-top: -.4rem;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    width: 60%;
    height: 20rem;
    background-color: #fff;
  }
  .sec3-containt {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
  
  }
  
  .sec3-containt .mid-text {
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: -.5rem;
  }
  
  .sec3-containt .first-text {
    text-transform: uppercase;
    font-size: .9rem;
  }
  .sec3-containt .last-text{
    margin-top: -.5rem;
  }
}

.sec4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: center;

  height: 15vh;
  background-color: #fff;
  /* box-shadow: 0 0rem 10rem black; */
  margin-bottom: 1rem;
  margin-top: 1.2rem;
}

.sec4_box {
  margin: auto 21vw;
}

.sec4-text-alin {
  display: flex;

  justify-content: space-evenly;
  align-items: center;

  height: 5vh;
  width: 100%;
}

.sec4-icon {
  color: #4778bd;

}

.fa-solid {
  font-size: 1.4rem;
  /* color: #3a47c2; */
}

.sec4-text {
  display: flex;
  font-size: .8rem;
  flex-direction: column;

}

.sec4-first-text {
  font-size: 1rem;
  margin-top: 3rem;
  /* margin-bottom: ; */
  margin: auto;
}

@media(max-width:700px){
  .sec4 {
    display: grid;
   grid-template-columns: 1fr 1fr;
   
   grid-gap: .6rem;
   /* font-size:rem; */
    width: 120%;
    background-color: #fff;
   margin-left: -2rem;
    margin-top: 1.2rem;
  }
  
  .sec4_box {
    margin: auto 21vw;
  }
  
  .sec4-text-alin {
    display: flex;
  
    justify-content: space-evenly;
    align-items: center;
  
    height: 5vh;
    width: 100%;
  }
  
  .sec4-icon {
    color: #4778bd;
    width: .5rem;
    
  }
  
  .fa-solid {
    font-size: 1.4rem;
    /* color: #3a47c2; */
  }
  
  .sec4-text {
    display: flex;
    font-size: .8rem;
    flex-direction: column;
   margin-left: 1rem;
  }
  
 
}
/* sec5 */
.sec5 {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  width: 100%;
  margin: auto 4rem;

}

.prodStockAval {
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
}

.ProductQuantityElem {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;

  margin-top: -.3rem;

}

.stockElement {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 7rem;
  height: 1.7rem;
  border-radius: .4rem;
  border: .1rem black solid;
  background-color: #fff;

}

.productName {
  margin-left: 1rem;
}

.game-board {
  margin: 1rem auto;
}

.game {
    text-align: left;
}


#productContainer {
  display: grid;
  grid-template-columns: 20vw 20vw 20vw;
  grid-gap: 6rem;

}
@media (max-width:700px){
  #productContainer {
    display: grid;
    grid-template-columns: 1fr;
  margin: auto 20%;
  }
  .sec5 {
    display: flex;
    flex-direction: column;
     justify-content: center;
    align-items: center; 
    width: 100%;
    /* margin: auto 4rem; */
  
  }
  .game{
    width: 100%;
    margin-left: 100%;
    /* margin-right: auto; */
    
  }
  .game-board {
    width: 100%;
    margin: 1rem auto;
  }
}


/* .cards{
  margin: auto;
  border-radius: 10rem;
  background-color: #c39f9f;
  height: 60vh;
  width: 20vw;
} */
.stockElement>p,
button {
  margin-top: -.3rem;
  font-size: 1.5rem;
}


.cartIncrement {

  margin-top: -.3rem;
  font-size: 1.4rem;
  height: 0vh;
  border: .1rem solid white;

}



.cartDecrement {

  /* border-radius: 2rem;

 height: 20rem;
 width: 20rem;
 display: flex;
 align-items: baseline;
 margin-left: 5rem; */
  margin-top: -.3rem;
  font-size: 1.4rem;
  height: 0rem;
  border: .1rem solid white;

}

.AddCart {
  background: #000;
  color: azure;
  height: 2.3rem;
  width: 10rem;
  display: flex;
  justify-content: center;

  font-size: 1rem;
  font-weight: 600;
  margin: 1rem;

}

.AddCart>p,
i {
  margin: auto;
}

.AddCart:hover {
  background: #fff;
  color: rgb(24, 27, 27);
  font-weight: 600;
  height: 5vh;
  width: 10vw;
  margin: 1rem 1rem;

}


.priceElem {
  display: flex;
  margin: -.5rem 1rem;
  font-size: 1rem;
  /* margin-left: 10rem; */
}

.categry {
  background-color: #d0b6b6;
  border-radius: 1rem;
  font-size: 1rem;

  text-align: center;
  margin: 1rem 5rem;

}

.discount {
  margin: 0rem 1rem;
  text-decoration: line-through;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: left;
  height: 26rem;
  border-radius: 1rem;
  box-shadow: 0rem .5rem 1rem rgb(189, 189, 92);

  background-color: rgba(222, 227, 222, 0.477);

}
@media (max-width:700px){
  .information {
    display: flex;
    flex-direction: column;
    
    /* align-items: center; */
    height: 25rem;
    width: 60%;
    border-radius: 1rem;
    box-shadow: 0rem .5rem 1rem rgb(189, 189, 92);
  
    background-color: rgba(222, 227, 222, 0.477);
  
  }
  .sec-5-last{
   margin: auto;
    height: 58rem;
  }
}

.description {
  margin-left: 1rem;
}

/* cart Item show  */

#productCartContainer {
  display: flex;
  flex-direction: column;
  margin: auto auto;


}

.productCartTotalElem {
  display: flex;
  flex-direction: column;
  margin: 4rem 5.5vw;
  width: 20vw;
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
  border: .1rem solid black;
}

#information2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  height: 20vh;
  /* width: 70vw; */
  background-color: hsl(0, 5%, 96%);
  place-items: center;
  margin: 1rem;
  margin-left: 15vw;
  margin-right: 10vw;
  box-shadow: 0rem .1rem .2rem rgb(121, 69, 69);
  /* border: 2rem solid rgb(5, 5, 5); */

}

.remove-to-cart-button {
  background: #000;
  color: azure;
  height: 2.4rem;
  width: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* font-weight: 600; */
  /* margin-left: 1rem; */
  border-radius: .6rem;
  font-size: 1.5rem;

}

.remove-to-cart-button:hover {
  background: #fff;
  color: rgb(24, 27, 27);
  height: 2.4rem;
  width: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* font-weight: 600; */
  /* margin-left: 1rem; */
  border-radius: .6rem;
  font-size: 1.5rem;


}

.summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/***** Start Footer Section *****/
footer {
  /* width: 100%; */
  background: rgb(17, 16, 16);
  color: white;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  margin-top: 6.4rem;
  margin: auto 2rem;
}

.footer-container .content_1 img {
  height: auto;
  width: 15rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 6rem 0;
}

.footer-container h4 {
  color: rgb(234, 226, 226);
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin-bottom: 2.5rem;
  font-size: 1.8rem;
}

.footer-container a {
  display: block;
  text-decoration: none;
  color: #e9e2e2;
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
}

.footer-container .content_1 p,
.footer-container .content_4 p {
  color: #f0ebeb;
  margin: 2.5rem 0;
  font-size: 1.4rem;
}

.footer-container .content_4 input[type="email"] {
  background-color: white;
  border: none;
  color: rgb(235, 226, 226);
  outline: none;
  padding: 1.4rem 0.8rem;
  width: 100%;
}

.footer-container .content_4 .f-mail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-container .content_4 .bx {
  color: white;
}

.f-design {
  width: 100%;
  color: white;
  text-align: center;
}

.f-design .f-design-txt {
  border-top: 1rem solid var(--secondaryColor);
  padding: 1.6rem 0;
  color: var(--secondaryColor);
}

/***** End Footer Section *****/

.sec-5 {
  height: 15rem;
  background-color: rgb(28, 29, 30);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

}

.main-heading ul {
  display: flex;
  flex-direction: column;

}

.main-heading {
  margin-top: 10px;
  padding-top: 12px;
}

.Company ul,
.Get ul,
.Follow ul {
  display: flex;
  flex-direction: column;
  margin-left: -2rem;

}

.Company ul li,
.Get ul li,
.Follow ul li {
  color: white;
  margin: .4rem;

}

.Get h4:hover {

  display: flex;
  flex-direction: column;
  color: #d0b6b6;

}

.Company h4,
.Get h4,
.Follow h4 {

  font-size: 1.4rem;
}

.Company h4:hover {
  color: #d0b6b6;
  font-size: 1.4rem;
}

.Follow h4:hover {
  color: #d0b6b6;
  font-size: 1.4rem;
}

.last-div {

  font-size: 20px;
  margin-top: -29px;
  display: flex;
  color: white;
  justify-content: center;
  align-content: center;
  font-weight: bold;
}

.Follow {
  display: flex;
  flex-direction: column;
  margin-top: -4rem;
}

.follow-show {
  margin: 0px;
}

.insta a {
  list-style: none;
  text-decoration: none;
  text-align: center;

  font-size: 1.1rem;
  margin: 0rem;
}

.chat-us {
  position: fixed;
  height: 60px;
  width: 60px;
  margin: 500px 30px;


}

.chat-us:hover {
  position: fixed;
  /* float:; */
  height: 62px;
  width: 62px;
  margin: 500px 30px;

  background-color: green;
  color: green;
  animation: reverse 2s;
}

.chat {
  position: absolute;
  display: flex;
  /* float:; */
  height: 60px;
  width: 60px;
  margin: 450px 1400px;
  color: rgb(42, 122, 191);
  /* background-color: green;
 
  animation:reverse 2s; */

}

@media(max-width:998px) {
  html {
    font-size: 70%;

  }

}

@media(max-width:768px) {
  html {
    font-size: 60%;
  }
}